.container {
    user-select: var(--pte-utils-defaultUserSelect);
    width: auto;
}

.card {
    padding: 10px 12px;
    transition: var(--pte-animations-interaction);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &[aria-disabled=true] {
        pointer-events: none;

        &.text {
            color: var(--pte-new-colors-contentDisabled);
        }
    }
}

.raised {
    border-radius: var(--pte-borders-radius-rounded);
    background-color: var(--pte-new-colors-surfacePrimary);
    box-shadow: var(--pte-new-lighting-subtlePopup);
    border: 1px solid var(--pte-new-colors-surfacePrimary);

    &:hover {
        background-color: var(--pte-new-colors-overlayStrong);
        cursor: default;
    }

    &[aria-disabled=false]:active {
        background-color: var(--pte-new-colors-overlayMedium);
        transform: scale(0.996);
    }

    &.pending {
        border: 1px dashed var(--pte-new-colors-borderMedium);
        background-color: var(--pte-new-colors-surfaceSecondary);
    }
}

.surface {
    border-radius: var(--pte-new-borders-radius-roundedMedium);
    border: 1px solid var(--pte-new-colors-borderMedium);
    background-color: var(--pte-new-colors-overlaySubtle);

    &:hover {
        background-color: var(--pte-new-colors-overlayStrong);
        cursor: default;
    }

    &[aria-disabled=false]:active {
        background-color: var(--pte-new-colors-overlayMedium);
        transform: scale(0.996);
    }

    &.pending {
        border: 1px dashed var(--pte-new-colors-borderMedium);
        background-color: transparent;
    }
}

.flat {
    border-radius: var(--pte-new-borders-radius-roundedMedium);
    border: 1px solid var(--pte-new-colors-borderStrong);
    background: var(--pte-new-colors-overlayWhiteSubtle);

    &:hover {
        background-color: var(--pte-new-colors-overlayStrong);
        cursor: default;
    }

    &[aria-disabled=false]:active {
        background-color: var(--pte-new-colors-overlayMedium);
        transform: scale(0.996);
    }

    &.pending {
        border: 1px dashed var(--pte-new-colors-borderStrong);
    }
}

.text {
    color: var(--pte-new-colors-contentPrimary);
}