.container {
    position: relative;
    user-select: var(--pte-utils-defaultUserSelect);

    & > * {
        cursor: default;
    }
}

.listboxButton {
    &[aria-expanded = true] {
        .chevron {
            color: var(--pte-new-colors-contentPrimary);
        }
        border-color: var(--pte-new-colors-inputBorderFocus);
        background-color: var(--pte-new-colors-inputFillFocus);
    }
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options {
    max-height: var(--options-maxHeight, auto);
    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;

    background-color: var(--pte-new-colors-surfacePrimary);

    border: var(--pte-new-borders-dropdown-border);
    border-radius: var(--pte-borders-radius-rectangle);
    box-shadow: var(--pte-new-lighting-deepBelow);

    transition: var(--pte-animations-interaction);

    &:focus-within {
        outline: none;
    }
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    padding: 6.5px 14px;
    //margin: -1px;

    // border: 1px solid var(--pte-borders-dropdown-color);
    //border-right: 1px solid var(--pte-borders-dropdown-color);

    transition: var(--pte-animations-interaction);

    &[data-selected=true] {
        background-color: var(--pte-new-colors-overlaySubtle);
    }

    &:hover, &[data-headlessui-state="active"] {
        background-color: var(--pte-new-colors-overlayMedium);
    }

    &[data-status="disabled"], &[data-headlessui-state~="disabled"] {
        pointer-events: none;
        cursor: default;

        &, & * {
            color: var(--pte-new-colors-contentDisabled);
        }
    }

    &.optionBorder {
        border-bottom: 0.5px solid var(--pte-new-colors-borderMedium);
    }
    &.optionBorder:last-child {
        border-bottom: none;
    }
}

.content {
    width: 100%;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
}

.radioOption {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;

    &[data-headlessui-state~="active"] {
        .radioCircle {
            border-color: var(--pte-new-colors-contentPrimary);
        }
    }

    &[data-headlessui-state~="checked"] {
        .radioCircle {
            border: 5px solid var(--pte-new-colors-contentPrimary);
        }
    }

    &[data-status="disabled"], &[data-headlessui-state~="disabled"] {
        pointer-events: none;
        cursor: default;

        &, & * {
            color: var(--pte-new-colors-contentDisabled);
        }

        .radioCircle {
            border-color: var(--pte-new-colors-contentDisabled);
        }
    }

    &[data-status="error"] {
        .radioCircle {
            border-color: var(--pte-new-colors-contentNegative);
        }
    }

    &[data-status="success"] {
        .radioCircle {
            border-color: var(--pte-new-colors-contentPositive);
        }
    }
}

.radioCircle {
    flex-shrink: 0;
    margin: 0 8px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1.5px solid var(--pte-new-colors-contentTertiary);
    transition: all var(--pte-animations-interaction);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.cardOption {
    background-color: var(--pte-new-colors-surfacePrimary);
    border-radius: 6px;
    width: 100%;

    &[data-headlessui-state~="active"] {
        //.cardSurface {
        //    background-color: var(--pte-new-colors-overlayWhiteSubtle);
        //    border-color: var(--pte-new-colors-borderStrong);
        //}
    }

    &[data-headlessui-state~="checked"] {
        .cardSurface {
            background-color: var(--pte-new-colors-overlayMedium);
            border-color: var(--pte-new-colors-borderUltrastrong);
        }
    }

    &[data-status="disabled"], &[data-headlessui-state~="disabled"] {
        pointer-events: none;
        cursor: default;

        &, & * {
            color: var(--pte-new-colors-contentDisabled);
        }

        //.cardSurface {
        //    background-color: var(--pte-new-colors-overlayWhiteSubtle);
        //    border-color: var(--pte-new-colors-borderStrong);
        //}
    }

    &[data-status="error"] {
        .cardSurface {
            background-color: var(--pte-new-colors-backgroundNegative);
        }
    }

    &[data-status="success"] {
        .cardSurface {
            background-color: var(--pte-new-colors-backgroundPositive);
        }
    }

    &:hover {
        .cardSurface {
            background-color: var(--pte-new-colors-overlayStrong);
        }
    }
}

.cardSurface {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all var(--pte-animations-interaction);

    border-radius: 6px;
    background-color: var(--pte-new-colors-overlayWhiteSubtle);
    border: 1px solid var(--pte-new-colors-borderStrong);

    &.text {
        padding: 4px 10px;
    }
}

.segmentedContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pte-new-colors-surfaceTertiary);
    border-radius: var(--pte-new-borders-radius-roundedMedium);
    padding: 4px;
    gap: 2px;
}

.segmentedOption {
    padding: 3px 20px;
    border-radius: var(--pte-new-borders-radius-roundedSmall);
    width: 100%;
    color: var(--pte-new-colors-contentTertiary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: var(--pte-animations-interaction);

    &.tall {
        padding: 6px 20px;
    }

    &[data-headlessui-state~="active"] {

    }

    &[data-status="disabled"], &[data-headlessui-state~="disabled"] {
        pointer-events: none;
        cursor: default;

        &, & * {
            color: var(--pte-new-colors-contentDisabled);
        }

        //.cardSurface {
        //    background-color: var(--pte-new-colors-overlayWhiteSubtle);
        //    border-color: var(--pte-new-colors-borderStrong);
        //}
    }

    &:hover {
        // background-color: var(--pte-new-colors-surfaceSecondary);
        // color: var(--pte-new-colors-contentSecondary);
        color: var(--pte-new-colors-contentPrimary);
    }

    &[data-headlessui-state~="checked"] {
        color: var(--pte-new-colors-contentPrimary);
    }
}

.segmentedBackground {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background-color: var(--pte-new-colors-surfaceQuaternary);
    border-radius: var(--pte-new-borders-radius-roundedSmall);
}

.segmentedText {
    z-index: 1;
}
