.container {
    position: relative;
    user-select: var(--pte-utils-defaultUserSelect);

    & > * {
        cursor: default;
    }
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transitionContainer {
    position: relative;
    z-index: 10;
}

.options {
    max-height: var(--options-maxHeight, auto);
    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;

    background-color: var(--pte-colors-backgroundPrimary);

    border-width: 1px;
    border-style: solid;
    border-radius: var(--pte-borders-radius-rectangle);
    border-color: var(--pte-borders-dropdown-color);
    box-shadow: var(--pte-borders-dropdown-shadow);

    transition: var(--pte-animations-interaction);

    &:focus-within {
        outline: none;
    }
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    padding: 8px 16px;
    margin: -1px;

    // border: 1px solid var(--pte-borders-dropdown-color);
    //border-right: 1px solid var(--pte-borders-dropdown-color);

    transition: var(--pte-animations-interaction);

    &:hover, &[data-headlessui-state="active"] {
        background-color: var(--pte-colors-backgroundSecondary);
    }

    &[data-selected=true] {
        background-color: var(--pte-colors-backgroundTertiary);
    }

    &[data-disabled=true], &[data-headlessui-state~="disabled"] {
        pointer-events: none;
        cursor: default;

        &, & * {
            color: var(--pte-colors-contentDisabled);
        }
    }
}

.content {
    width: 100%;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
}

.radioOption {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;

    &[data-headlessui-state~="active"] {
        .radioCircle {
            border-color: var(--pte-colors-contentPrimary);
        }
    }

    &[data-headlessui-state~="checked"] {
        .radioCircle {
            border: 5px solid var(--pte-colors-contentPrimary);
        }
    }

    &[data-headlessui-state~="disabled"] {
        pointer-events: none;
        cursor: default;

        &, & * {
            color: var(--pte-colors-contentDisabled);
        }

        .radioCircle {
            border-color: var(--pte-colors-contentDisabled);
        }
    }
}

.radioCircle {
    flex-shrink: 0;
    margin: 0 8px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1.5px solid var(--pte-colors-contentTertiary);
    transition: all var(--pte-animations-interaction);
}
