.tabList {
    //border-bottom: 4px solid var(--pte-colors-borderOpaque);
    padding-bottom: 4px;
    overflow-x: scroll;
    //overflow-y: visible;
    position: relative;

    display: flex;
    flex-direction: row;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.tabListBorder {
    border-bottom: 4px solid var(--pte-colors-borderOpaque);
    width: 100%;
    margin-top: -4px;
}

.activeTabBorder {
    position: absolute;
    bottom: 0;
    width: var(--tab-width);
    height: 4px;
    background-color: var(--pte-colors-contentPrimary);

    transition: transform var(--pte-animations-duration-slow) var(--pte-animations-timing-easeInOutExpo);

    //noinspection CssInvalidFunction
    transform: translateX(calc(var(--tab-width) * var(--tab-index)));
}

.activeTabUnderline {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--pte-colors-contentPrimary);
}

@mixin tabCompactStyles {
    width: auto;
    padding: 4px 0 6px 0;
    margin: 0 20px 0 0;

    &:not([aria-selected="true"]) {
        color: var(--pte-colors-contentTertiary) !important;
    }
};

.tab {
    position: relative;
    font-weight: 500 !important;
    padding: 9px 30px;
    width: var(--tab-width);
    flex-shrink: 0;
    overflow: visible;
    cursor: default;

    transition: all var(--pte-animations-duration-normal) var(--pte-animations-timing-easeInOut);

    &.compact {
        @include tabCompactStyles;
    }

    @container (min-width: 640px) {
        &[aria-selected="true"]:not(.compact) {
            background-color: var(--pte-colors-backgroundSecondary);
        }

        &:hover:not(.compact) {
            background-color: var(--pte-colors-backgroundSecondary);
        }

        &:active:not(.compact) {
            background-color: var(--pte-colors-backgroundTertiary);
        }
    }

    @container (max-width: 640px) {
        &.auto {
            @include tabCompactStyles;
            &[aria-selected="true"]:not(.auto):not(.compact) {
                background-color: var(--pte-colors-backgroundSecondary);
            }

            &:hover:not(.auto):not(.compact) {
                background-color: var(--pte-colors-backgroundSecondary);
            }

            &:active:not(.auto):not(.compact) {
                background-color: var(--pte-colors-backgroundTertiary);
            }
        }
    }
}

.panel {
    padding-top: 16px;
}
