.menu {
    position: relative;
}

.menuItems {
    position: absolute;
    right: 0;

    margin-top: 6px;

    border-radius: 8px;
    background: var(--pte-new-colors-surfacePrimary);
    box-shadow: var(--pte-new-lighting-deepBelow);
    border: var(--pte-new-borders-dropdown-border);

    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;

    overflow: hidden;
    z-index: 100;
}

.leftPosition {
    right: auto;
    left: 0;
}

.rightPosition {
    right: 0;
    left: auto;
}

.menuItem {
    width: 100%;
    padding: 8px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--pte-new-colors-contentPrimary);

    border-bottom: 0.5px solid var(--pte-new-colors-borderMedium);

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: var(--pte-new-colors-overlayMedium);
    }

    @keyframes gradientFlow {
        0% {
            background-position: 0%;
        }
        100% {
            background-position: 125%;
        }
    }
}

.newItem {
    background: radial-gradient(circle, rgba(20,239,172,0.2) 0%, rgba(38,237,237,0.05) 75%);
    background-size: 150% 100%;
    animation: gradientFlow 2.5s ease-in-out infinite alternate;
    background-position: 0%;

    &:hover {
        background-color: unset;
        animation-play-state: paused;
    }
}
