.toast {
    color: var(--pte-new-colors-contentInversePrimary) !important;
    background-color: var(--pte-new-colors-buttonFill) !important;
    //border: 1px solid var(--pte-colors-border) !important;
    border-radius: var(--pte-borders-radius-rounded) !important;
    backdrop-filter: blur(4px) !important;
    box-shadow: var(--pte-new-lighting-subtlePopup) !important;
    font-weight: 500 !important;
    padding: 4px 8px !important;

    svg {
        width: 10px;
        margin-left: 8px;
    }

    & > div {
        margin-left: 8px;
        margin-right: 8px;
    }
}
