.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    user-select: var(--pte-utils-defaultUserSelect);
    cursor: default;
    //z-index: -1;

    &button {
        all: unset;
    }

    &.disabled {
        //opacity: 0.4;
        color: var(--pte-new-colors-contentDisabled);
        pointer-events: none;
    }
}

.root {
    &.default {
        background-color: transparent;
        width: 14px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        border: 2px solid var(--pte-new-colors-contentTertiary);
        border-radius: var(--pte-borders-radius-rectangle);

        &:hover {
            //background-color: ;
        }

        &:focus-visible {
            outline: 1px solid var(--pte-new-colors-borderUltrastrong);
        }

        position: relative;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: transparent;
            transition: var(--pte-animations-interaction);
            transition-delay: 50ms;
        }

        &[data-state="checked"], &[data-state="indeterminate"] {
            &:after {
                opacity: 0;
            }
        }

        &[data-disabled=true] {
            border-color: var(--pte-new-colors-contentDisabled);
        }

        & span {
            transition: var(--pte-animations-interaction);
        }
    }

    &.surface {
        width: 100%;
        padding: 6px 10px;
        color: var(--pte-new-colors-contentSecondary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: var(--pte-animations-interaction);

        &:focus-visible {
            outline: 1px solid var(--pte-new-colors-borderUltrastrong);
        }

        &[data-state="checked"], &[data-state="indeterminate"] {
            background-color: var(--pte-new-colors-overlayMedium);
            color: var(--pte-new-colors-contentPrimary);
        }

        &[data-disabled=true] {
            color: var(--pte-new-colors-contentDisabled);
        }

        &:hover {
            background-color: var(--pte-new-colors-overlayStrong);
        }
    }
}

.indicator {
    cursor: default;
}

.checkSvg {
    fill: var(--pte-new-colors-contentPrimary);

    &[data-disabled=true] {
        fill: var(--pte-new-colors-contentDisabled);
    }
}

.checkIcon {
    color: var(--pte-new-colors-contentPrimary);

    &[data-disabled=true] {
        color: var(--pte-new-colors-contentDisabled);
    }
}

.switchContainer {
    width: 24px;
    height: 14px;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--pte-new-colors-contentTertiary);

    &[data-checked], &[data-state="indeterminate"] {
        background-color: var(--pte-new-colors-contentPrimary);
    }

    &[data-disabled=true] {
        background-color: var(--pte-new-colors-contentInverseSecondary);

        &[data-checked], &[data-state="indeterminate"] {
            background-color: var(--pte-new-colors-contentInverseTertiary);
        }
    }

    &:hover {
        background-color: var(--pte-new-colors-contentSecondary);
    }
}

.knob {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;

    background-color: var(--pte-new-colors-contentInversePrimary);

    transform: translateX(-5px);
    transition: transform var(--pte-animations-interaction);
}

.knobChecked {
    transform: translateX(5px);
}