.link {
    text-decoration: none;
    border-bottom: 1px solid var(--pte-colors-borderOpaque);
    cursor: pointer;
    font-weight: var(--pte-typography-fontWeights-medium);
    transition: border-bottom-color var(--pte-animations-interaction);

    &:hover {
        border-bottom: 1px solid var(--pte-colors-contentPrimary);
    }
}
