/*
 * Main styles
 */
.button {
    user-select: var(--pte-utils-defaultUserSelect);

    border: 1px solid;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transition: var(--pte-animations-interaction);

    & > span {
        margin-block-end: var(--pte-typography-verticalMetricsAdjust);
    }

    &:hover {
        cursor: default;
        background-color: var(--pte-new-colors-buttonFillHover);
    }

    &[aria-disabled=false]:active {
        opacity: 0.9;
        transform: scale(0.98);
    }

    &[aria-disabled=true] {
        pointer-events: none;
    }
}


/*
 * KIND
 */

.primary {
    color: var(--pte-new-colors-contentInversePrimary);
    background-color: var(--pte-new-colors-buttonFill);
    border-color: var(--pte-new-colors-buttonFill);

    &:hover {
        border-color: var(-pte-new-colors-buttonFillHover);
    }

    &[aria-disabled=true] {
        color: var(--pte-new-colors-contentDisabled);
        background-color: var(--pte-new-colors-buttonFillDisabled);
        border-color: var(--pte-new-colors-buttonFillDisabled);
    }
}

.secondary {
    color: var(--pte-new-colors-contentPrimary);
    background-color: transparent;
    border-color: var(--pte-new-colors-buttonBorder);

    &:hover {
        background-color: var(--pte-new-colors-overlayMedium);
    }

    &[aria-disabled=true] {
        color: var(--pte-new-colors-contentDisabled);
        border-color: var(--pte-new-colors-buttonBorderDisabled);
    }
}

.tertiary {
    color: var(--pte-new-colors-contentPrimary);
    background-color: transparent;
    border-color: transparent;

    &:hover {
        background-color: var(--pte-new-colors-overlayMedium);
    }

    &[aria-disabled=true] {
        color: var(--pte-new-colors-contentDisabled);
    }
}


/*
 * SIZE
 */

.large {
    height: 32px;
    padding: 8px 15px;
}

.medium {
    height: 28px;
    padding: 6px 14px;
}

.small {
    height: 20px;
    padding: 4px 15px;
}

.xs {
    height: 16px;
    padding: 2px 8px;
}


/*
 * SHAPE
 */

.pill {
    border-radius: var(--pte-borders-radius-pill);
}

.circle {
    border-radius: var(--pte-borders-radius-circle);
}

.rounded {
    border-radius: var(--pte-borders-radius-rounded);

    &.small {
        border-radius: var(--pte-borders-radius-roundedSmall);
    }
}

.square, .rectangle {
    border-radius: var(--pte-borders-radius-rectangle);
}

.circle, .square {
    &.large {
        width: 32px;
        padding: 8px;
    }

    &.medium {
        width: 28px;
        padding: 4px;
    }

    &.small {
        width: 20px;
        padding: 4px;
    }

    &.xs {
        width: 16px;
        padding: 2px;
    }
}
