.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    min-height: 34px;

    background-color: var(--pte-new-colors-inputFill);

    //height: 36px;
    width: 100%;
    padding: calc(6px - var(--pte-typography-verticalMetricsAdjust)) 13px 6px;

    font-size: var(--pte-typography-styles-paragraphSmall-fontSize);
    font-style: var(--pte-typography-styles-paragraphSmall-fontStyle);
    font-weight: var(--pte-typography-styles-paragraphSmall-fontWeight);
    letter-spacing: var(--pte-typography-styles-paragraphSmall-letterSpacing);
    line-height: var(--pte-typography-styles-paragraphSmall-lineHeight);
    text-transform: var(--pte-typography-styles-paragraphSmall-textTransform);

    border-width: 1px;
    border-style: solid;
    border-color: var(--pte-new-colors-inputFill);
    border-radius: var(--pte-borders-radius-rectangle);

    transition: var(--pte-animations-interaction);

    &:focus-within {
        outline: none;
        border-color: var(--pte-new-colors-inputBorderFocus);
        background-color: var(--pte-new-colors-inputFillFocus);
    }

    &[data-status="disabled"] {
        border-color: var(--pte-new-colors-inputFillDisabled);
        background-color: var(--pte-new-colors-inputFillDisabled);
        color: var(--pte-new-colors-contentDisabled);
        pointer-events: none;
        cursor: default;

        &:focus-within {
            border-color: var(--pte-new-colors-inputFillDisabled) !important;
        }
    }

    &[data-status="error"] {
        border-color: var(--pte-new-colors-inputBorderNegative);
        background-color: var(--pte-new-colors-inputFillNegative);
        color: var(--pte-new-colors-contentNegative);

        &:focus-within {
            color: var(--pte-new-colors-contentPrimary);
        }
    }

    &[data-status="success"] {
        border-color: var(--pte-new-colors-contentPositive);
        background-color: var(--pte-new-colors-backgroundPositive);
        color: var(--pte-new-colors-contentPositive);

        &:focus-within {
            color: var(--pte-new-colors-contentPrimary);
        }
    }

    & input[type="color"],
    & input[type="date"],
    & input[type="datetime"],
    & input[type="datetime-local"],
    & input[type="email"],
    & input[type="month"],
    & input[type="number"],
    & input[type="password"],
    & input[type="search"],
    & input[type="tel"],
    & input[type="text"],
    & input[type="time"],
    & input[type="url"],
    & input[type="week"],
    & select:focus,
    & textarea {
        // Workaround to avoid iOS Safari auto-zooming
        font-size: 16px;
        transform: scale(0.875);
        transform-origin: left center;
        width: calc(100% / 0.875);
        flex-shrink: 0;

        &[data-has-end-enhancer="true"] {
            width: calc((100% / 0.875) - 14px - 13px);
            margin-right: calc((-100% * (1 - 0.875) / 0.875));
        }
    }


    & input,
    & textarea {
        width: 100%;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;

        &::placeholder {
            color: var(--pte-new-colors-contentTertiary);
        }

        &[aria-disabled=true] {
            color: var(--pte-new-colors-contentDisabled);
            cursor: default;

            &::placeholder {
                color: var(--pte-new-colors-contentDisabled);
            }
        }

        &[type="color"]::-webkit-color-swatch {
            border: 1px solid var(--pte-new-colors-inputBorderFocus);
            border-radius: var(--pte-borders-radius-circle);
        }

        &[type="color"]::-webkit-color-swatch-wrapper {
            width: 16px;
            height: 100%;
        }

        &[type="file"]::-webkit-file-upload-button {
            display: none;
        }

        &[data-status="disabled"] {
            color: var(--pte-new-colors-contentDisabled);

            &::placeholder {
                color: var(--pte-new-colors-contentDisabled);
            }
        }

        &[data-status="error"] {
            color: var(--pte-new-colors-contentNegative);

            &::placeholder {
                color: var(--pte-new-colors-contentNegative);
            }
        }

        &[data-status="success"] {
            color: var(--pte-new-colors-contentPositive);

            &::placeholder {
                color: var(--pte-new-colors-contentPositive);
            }
        }
    }
}

.enhancer {
    display: flex;
    color: var(--pte-new-colors-contentSecondary);
    margin-block-start: -0.5px;
    font-size: var(--pte-typography-styles-paragraphSmall-fontSize);
    font-style: var(--pte-typography-styles-paragraphSmall-fontStyle);
    font-weight: var(--pte-typography-styles-paragraphSmall-fontWeight);
    letter-spacing: var(--pte-typography-styles-paragraphSmall-letterSpacing);
    line-height: var(--pte-typography-styles-paragraphSmall-lineHeight);
    text-transform: var(--pte-typography-styles-paragraphSmall-textTransform);

    &[data-status="disabled"] {
        color: var(--pte-new-colors-contentDisabled);
    }

    &[data-status="error"] {
        color: var(--pte-new-colors-contentNegative);
    }

    &[data-status="success"] {
        color: var(--pte-new-colors-contentPositive);
    }
}

.container {
    width: 100%;
    user-select: var(--pte-utils-defaultUserSelect);
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
}

// Use double selector to ensure specificity is higher than the default styles
.label.label {
    color: var(--pte-new-colors-contentPrimary);
    font-weight: var(--pte-typography-fontWeights-medium);
}

// Use double selector to ensure specificity is higher than the default styles
.description.description {
    color: var(--pte-new-colors-contentTertiary);
}

.hidden {
    display: none;
}

.input {
    &::-webkit-calendar-picker-indicator {
        display: none;
    }
}
