.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    min-height: 36px;

    background-color: var(--pte-colors-backgroundSecondary);

    //height: 36px;
    width: 100%;
    padding: calc(7.5px - var(--pte-typography-verticalMetricsAdjust)) 15px 7.5px;

    font-size: var(--pte-typography-styles-paragraphSmall-fontSize);
    font-style: var(--pte-typography-styles-paragraphSmall-fontStyle);
    font-weight: var(--pte-typography-styles-paragraphSmall-fontWeight);
    letter-spacing: var(--pte-typography-styles-paragraphSmall-letterSpacing);
    line-height: var(--pte-typography-styles-paragraphSmall-lineHeight);
    text-transform: var(--pte-typography-styles-paragraphSmall-textTransform);

    border-width: 1px;
    border-style: solid;
    border-color: var(--pte-colors-backgroundSecondary);
    border-radius: var(--pte-borders-radius-rectangle);

    transition: var(--pte-animations-interaction);

    &:focus-within {
        outline: none;
        border-color: var(--pte-colors-borderSelected);
        background-color: var(--pte-colors-backgroundTertiary);
    }

    &[data-status="disabled"] {
        border-color: var(--pte-colors-backgroundTertiary);
        background-color: var(--pte-colors-backgroundTertiary);
        color: var(--pte-colors-contentDisabled);
        pointer-events: none;
        cursor: default;

        &:focus-within {
            border-color: var(--pte-colors-backgroundTertiary) !important;
        }
    }

    &[data-status="error"] {
        border-color: var(--pte-colors-borderNegative);
        background-color: var(--pte-colors-backgroundNegative);
        color: var(--pte-colors-contentNegative);

        &:focus-within {
            color: var(--pte-colors-contentPrimary);
        }
    }

    &[data-status="success"] {
        border-color: var(--pte-colors-borderPositive);
        background-color: var(--pte-colors-backgroundPositive);
        color: var(--pte-colors-contentPositive);

        &:focus-within {
            color: var(--pte-colors-contentPrimary);
        }
    }

    & input,
    & textarea {
        width: 100%;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        outline: none;

        &::placeholder {
            color: var(--pte-colors-contentTertiary);
        }

        &[aria-disabled=true] {
            color: var(--pte-colors-contentDisabled);
            cursor: default;

            &::placeholder {
                color: var(--pte-colors-contentDisabled);
            }
        }

        &[type="color"]::-webkit-color-swatch {
            border: 1px solid var(--pte-colors-borderSelected);
            border-radius: var(--pte-borders-radius-circle);
        }

        &[type="color"]::-webkit-color-swatch-wrapper {
            width: 16px;
            height: 100%;
        }

        &[type="file"]::-webkit-file-upload-button {
            display: none;
        }

        &[data-status="disabled"] {
            color: var(--pte-colors-contentDisabled);

            &::placeholder {
                color: var(--pte-colors-contentDisabled);
            }
        }
    
        &[data-status="error"] {
            color: var(--pte-colors-contentNegative);

            &::placeholder {
                color: var(--pte-colors-contentNegative);
            }
        }
    
        &[data-status="success"] {
            color: var(--pte-colors-contentPositive);

            &::placeholder {
                color: var(--pte-colors-contentPositive);
            }
        }
    }
}

.enhancer {
    display: flex;
    color: var(--pte-colors-contentSecondary);
    margin-block-start: -0.5px;
    font-size: var(--pte-typography-styles-paragraphSmall-fontSize);
    font-style: var(--pte-typography-styles-paragraphSmall-fontStyle);
    font-weight: var(--pte-typography-styles-paragraphSmall-fontWeight);
    letter-spacing: var(--pte-typography-styles-paragraphSmall-letterSpacing);
    line-height: var(--pte-typography-styles-paragraphSmall-lineHeight);
    text-transform: var(--pte-typography-styles-paragraphSmall-textTransform);
}

.container {
    width: 100%;
    user-select: var(--pte-utils-defaultUserSelect);
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

// Use double selector to ensure specificity is higher than the default styles
.label.label {
    color: var(--pte-colors-contentPrimary);
    font-weight: var(--pte-typography-fontWeights-medium);
}

// Use double selector to ensure specificity is higher than the default styles
.description.description {
    color: var(--pte-colors-contentTertiary);
}

.hidden {
    display: none;
}

.input {
    &::-webkit-calendar-picker-indicator {
        display: none;
    }
}