.content {
    background-color: var(--pte-new-colors-overlayMedium);
    border-radius: 6px;
    width: 100%;
    padding: 8px 10px;
    color: var(--pte-new-colors-contentSecondary);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    .icon {
        width: 16px;
        height: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        svg {
            width: 13px !important;
            height: 13px !important;
        }
    }

    &.warning {
        background-color: var(--pte-new-colors-backgroundWarning);
        color: var(--pte-new-colors-contentWarning);
    }

    &.negative {
        background-color: var(--pte-new-colors-overlayRed);
        color: var(--pte-new-colors-contentNegative);
    }

    &.positive {
        .icon {
            color: var(--pte-new-colors-contentPositive);
        }
    }
}
