.text {
    font-family: var(--pte-typography-fontFamily);
}

/* Font weight theme values */
$text-weights: (
    "thin": var(--pte-typography-fontWeights-thin),
    "extraLight": var(--pte-typography-fontWeights-extraLight),
    "light": var(--pte-typography-fontWeights-light),
    "normal": var(--pte-typography-fontWeights-normal),
    "medium": var(--pte-typography-fontWeights-medium),
    "semiBold": var(--pte-typography-fontWeights-semiBold),
    "bold": var(--pte-typography-fontWeights-bold),
    "extraBold": var(--pte-typography-fontWeights-extraBold),
    "black": var(--pte-typography-fontWeights-black),
    "extraBlack": var(--pte-typography-fontWeights-extraBlack),
);


@each $weight-name,
$weight-value in $text-weights {
    .weight-#{$weight-name} {
        font-weight: $weight-value;
    }
}

/* Font style theme values */
$font-styles: (
    "normal": var(--pte-typography-fontStyles-normal),
    "italic": var(--pte-typography-fontStyles-italic),
);

@each $style-name,
$style-value in $font-styles {
    .fontStyle-#{$style-name} {
        font-style: $style-value;
    }
}