.text {
    font-family: var(--pte-typography-fontFamily);
}

/* Font weight numberic values */
@for $i from 1 through 9 {
    $weight: $i * 100;

    .weight-#{$weight} {
        font-weight: $weight;
    }
}

/* Font weight keyword values */
$text-weights: (
    "normal": normal,
    "bold": bold,
    "lighter": lighter,
    "bolder": bolder,
);

@each $weight-name,
$weight-value in $text-weights {
    .weight-#{$weight-name} {
        font-weight: $weight-value;
    }
}

/* Font style keyword values */
$font-styles: (
    "normal": normal,
    "italic": italic,
    "oblique": oblique,
);

@each $style-name,
$style-value in $font-styles {
    .fontStyle-#{$style-name} {
        font-style: $style-value;
    }
}

/* Global values */
$global-values: (
    "inherit": inherit,
    "initial": initial,
    "revert": revert,
    "revert-layer": revert-layer,
    "unset": unset
);

/* Generate global value classes */
@each $global-name,
$global-value in $global-values {
    .weight-#{$global-name} {
        font-weight: $global-value;
    }

    .fontStyle-#{$global-name} {
        font-style: $global-value;
    }
}