.table {
    width: 100%;

    &, & * {
        cursor: default;
    }

    thead {
        text-align: left;
        user-select: none;
    }

    th {
        color: var(--pte-new-colors-contentSecondary);
        padding: 10px 12px;
    }

    td {
        padding: 8px 12px;
    }

    tr {
        border-bottom: 1px solid var(--pte-new-colors-borderSubtle);
    }

    .tableHeader {
        border-top: 1px solid var(--pte-new-colors-borderMedium);
        border-bottom: 1px solid var(--pte-new-colors-borderMedium);
    }

    tr.empty {
        border-bottom: none;

        td {
            padding: 20px 0 0 0;
        }
    }

    tbody tr.clickable {
        transition: background-color var(--pte-animations-interaction);

        &:hover {
            background-color: var(--pte-new-colors-overlayMedium);
        }

        &, & * {
            cursor: pointer;
        }
    }
}

@container (max-width: 480px) {
    .sm {
        display: none;
    }
}

@container (max-width: 640px) {
    .md {
        display: none;
    }
}

@container (max-width: 768px) {
    .lg {
        display: none;
    }
}

@container (max-width: 1280px) {
    .xl {
        display: none;
    }
}
