.tag {
    width: fit-content;
}

.normal {
    height: 26px;

    &.rectangle {
        padding: 7px 13px;

        &.sharp {
            padding: 6px 12px;
        }

        &.secondary, &.draft, &.new {
            padding: 6px 12px;
        }
    }

    &.square {
        width: 26px;
        padding: 4px;

        &.sharp {
            padding: 3px;
        }

        &.secondary, &.draft, &.new {
            padding: 3px;
        }
    }
}

.compact {
    height: 20px;

    &.rectangle {
        padding: 5px 10px;

        &.sharp {
            padding: 4px 9px;
        }

        &.secondary, &.draft, &.new {
            padding: 4px 9px;
        }
    }

    &.square {
        width: 20px;
        padding: 4px;

        &.sharp {
            padding: 3px;
        }

        &.secondary, &.draft, &.new {
            padding: 3px;
        }
    }
}

.sharp {
    border-radius: var(--pte-borders-radius-rectangle);
    border: 1px solid;
}

.rounded {
    border-radius: var(--pte-borders-radius-roundedSmall);
}

.roundedXL {
    border-radius: var(--pte-borders-radius-pill);
}

.square {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
        width: 10px !important;
        height: 10px !important;
    }
}

.default {
    background-color: var(--pte-new-colors-overlayStrong);
    color: var(--pte-new-colors-contentSecondary);
    border-color: var(--pte-new-colors-contentSecondary);
}

.secondary {
    background-color: transparent;
    color: var(--pte-new-colors-contentSecondary);

    border: 1px solid var(--pte-new-colors-borderMedium);
}

.positive {
    color: var(--pte-new-colors-contentPositive);
    background-color: var(--pte-new-colors-backgroundPositive);
    border-color: var(--pte-new-colors-contentPositive);

    &[data-status="medium"] {
        background-color: var(--pte-new-colors-backgroundPositiveMedium);
        border-color: var(--pte-new-colors-contentPositiveMedium);
    }
    &[data-status="strong"] {
        background-color: var(--pte-new-colors-backgroundPositiveStrong);
        border-color: var(--pte-new-colors-contentPositiveStrong);
    }
}

.warning {
    color: var(--pte-new-colors-contentWarning);
    background-color: var(--pte-new-colors-backgroundWarning);
    border-color: var(--pte-new-colors-contentWarning);

    &[data-status="medium"] {
        background-color: var(--pte-new-colors-backgroundWarningMedium);
        border-color: var(--pte-new-colors-contentWarningMedium);
    }
    &[data-status="strong"] {
        background-color: var(--pte-new-colors-backgroundWarningStrong);
        border-color: var(--pte-new-colors-contentWarningStrong);
    }
}

.negative {
    color: var(--pte-new-colors-contentNegative);
    background-color: var(--pte-new-colors-backgroundNegative);
    border-color: var(--pte-new-colors-contentNegative);

    &[data-status="medium"] {
        background-color: var(--pte-new-colors-backgroundNegativeMedium);
        border-color: var(--pte-new-colors-contentNegativeMedium);
    }
    &[data-status="strong"] {
        background-color: var(--pte-new-colors-backgroundNegativeStrong);
        border-color: var(--pte-new-colors-contentNegativeStrong);
    }
}

.void {
    background-color: var(--pte-new-colors-backgroundSecondary);
    color: var(--pte-new-colors-contentDisabled);
    border-color: var(--pte-new-colors-contentDisabled);
}

.draft {
    background-color: transparent;
    color: var(--pte-new-colors-contentTertiary);

    border: 1px dashed var(--pte-new-colors-borderMedium);
}

.new {
    color: var(--pte-new-colors-contentPrimary);
    background-color: var(--pte-new-colors-backgroundAccentMedium);
    animation: glow 2s infinite var(--pte-new-animations-timing-easeInOut);

    border: 1px solid var(--pte-new-colors-contentAccent);
}

@keyframes glow {
    0%, 100% {
        box-shadow:
                var(--pte-new-lighting-glowSubtle1),
                var(--pte-new-lighting-glowSubtle2),
                var(--pte-new-lighting-glowSubtle3);
    }
    50% {
        box-shadow:
                var(--pte-new-lighting-glowDeep1),
                var(--pte-new-lighting-glowDeep2),
                var(--pte-new-lighting-glowDeep3);
    }
}