.selectableCard {
    border: 1px solid var(--pte-new-colors-borderStrong);
    background-color: var(--pte-new-colors-overlayWhiteSubtle);
    transition: var(--pte-animations-interaction);

    &:hover:not([aria-disabled='true']) {
        background-color: var(--pte-new-colors-overlayStrong);
    }

    &[aria-disabled='true'] > * {
        color: var(--pte-new-colors-contentDisabled);
    }
}

.selected {
    border-color: var(--pte-new-colors-borderUltrastrong);
    background-color: var(--pte-new-colors-overlayMedium);
}

.layout {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
    width: 100%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: var(--pte-new-borders-radius-roundedSmall);
    background: var(--pte-new-colors-overlayMedium);
    flex-shrink: 0;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.title {
    flex: 1;
}
